spring:
  application:
    name: expensemanagement-backend
  r2dbc:
    url: r2dbc:mysql://localhost:3306/YOUR_MYSQL_DATABASE
    username: YOUR_MYSQL_USERNAME
    password: YOUR_MYSQL_PASSWORD
server:
  port: 8080